{% load static %}
<!DOCTYPE html>
<html lang="en">

  <!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
  <head>
  <title>Admin Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="{% static 'basic/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'basic/css/layout.css' %}" rel="stylesheet" type="text/css" media="all">

  </head>

  <body id="top">
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <header id="header" class="hoc clear "> 
      <div class=" hoc five_quarter">
        <ul class="nospace">
        <li class="one_fifth first1">
              <img src="{% static 'basic/images/logo.png' %}">
        </li>
        <li class="one_fifth second">
          <h1>Shree Sheetala Madhyamik Bidhyalaya,<br>
          <p>Since 2014 B.S</p>
          </h1>  
        </li>
          <li class="one_fifth">
            <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +977 061-540655</span></div>
          </li>
          <li class="one_fifth">
            <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> sheetalaschool09@gmail.com </span></div>
          </li>
          <li class="one_fifth">
            <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Sun. - Fri.:</strong> 09.00am - 5.00pm</span></div>
          </li>
        </ul>
        
      </div>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <div class="hoc clear"> 
      <!-- ################################################################################################ -->
      <nav id="mainav">
        <ul class="clear">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a class="drop" href="#">More</a>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Gallary</a></li>
            </ul>
          </li>
          <li><a href="#">About Us</a></li>
          <li><a href="{% url 'admission' %}">Admission</a></li>
          <li><a href="#vacancy">Vacancy</a></li>
          <li><a href="#notice">Notice</a></li>
          <li><a href="{% url 'admin_office' %}"> Admin </a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
  </div>
    <!--NavBar Ends-->
     <!-- Admin form starts here -->
     <div class="wrapper1 bgded overlay dark">
      <div id="shout1" class="hoc container"> 
        <!-- ################################################################################################ -->
        <article>
      <form action="{% url 'admin_office_login' %}" method="POST">
        {% csrf_token %}
        <style>
          input[type=text], select {
          width: 90%;
          height: 40px;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          }
          input[type=password], select {
            width: 90%;
          height: 40px;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          }
         input[type=submit] {
          width: 30%;
          height: 30px;
           background-color: #4CAF50;
           color: white;
           padding-top: 20px ;
           margin: 8px 8px;
           border: none;
           border-radius: 4px;
           cursor: pointer;
         }
         input[type=submit]:hover {
           background-color: black;
         }
         input [type=submit] {
          padding: 5px;
         }
         
        </style>
        <h1>Admin Login</h1>
        <label for="fname"> Username</label>
        <input type="text" id="uname" name="username" placeholder="Your username..">
    
        <label for="lname">Password</label>
        <input type="password" id="lname" name="lastname" placeholder="Your password..">
        <br>
        <a href="#">Not a admin? Return home..</a>
        <br>
        <input type="submit" value="Submit">
      </form>
        </article>
        <!-- ################################################################################################ -->
      </div>
    </div>
     
     <!-- Admin form ends here  -->
  <div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_quarter first">
        <h1 class="logoname clear"><a href="index.html"><i class="fas fa-handshake"></i> <span>Shree Sheetala</span></a></h1>
        <p class="btmspace-30">Getting in touch is easy! [<a href="#">&hellip;</a>]</p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading" id="contacting">Contact Us</h6>
        <ul class="nospace linklist contact">
          <li><i class="fas fa-map-marker-alt"></i>
            <address>
            Galem-04,Fedikhola, Syangja, Gandaki, Nepal
            </address>
          </li>
          <li><i class="fas fa-phone"></i> +977 061-540567</li>
          <li><i class="fas fa-fax"></i> +977 061-540567</li>
          <li><i class="far fa-envelope"></i> sheetalaschool09@gmail.com</li>
        </ul>
      </div>
  
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">iDeal Soft</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  
</html>